.selectedGame
    .main
        .breadcrumbs
            a(href="#").breadcrumbs__item Головна
            a(href="#").breadcrumbs__item Ігри
            .breadcrumbs__item Crazy Monkey
        .topGames
            .topGames__left
                .mainGame
                    .mainGame__top
                        .mainGame__top-img
                            img(src="img/game-main.jpg" alt="Favbet")
                        .mainGame__top-buttons
                            a(href="#").game__btn.game__btn-demo Demo
                                a(href="#").game__btn.game__btn-play Грати
                    .mainGame__info
                        .mainGame__info-top
                            h1.mainGame__name Book Era
                            .mainGame__icons
                                img(src="img/warning-icon.svg" alt="Favbet").mainGame__icons-warning
                                img(src="img/fullscreen-icon.svg" alt="Favbet").mainGame__icons-fullscreen
                        .mainGame__info-bottom
                            .mainGame__info-feature RTP
                            .mainGame__info-value 98%
                        .mainGame__details
            .topGames__right
                .sideGame
                    .sideGame__img
                        img(src="img/game-title.jpg" alt="Favbet")
                    .sideGame__info
                        .sideGame__info-name Crazy Monkey
                        .sideGame__info-buttons
                            a(href="#").game__btn.game__btn-info Огляд
                            a(href="#").game__btn.game__btn-play Грати

                .sideGame
                    .sideGame__img
                        img(src="img/cat3.jpg" alt="Favbet")
                    .sideGame__info
                        .sideGame__info-name Crazy Monkey
                        .sideGame__info-buttons
                            a(href="#").game__btn.game__btn-info Огляд
                            a(href="#").game__btn.game__btn-play Грати
        .popularGames
            h2.popularGames__title Популярні
            .popularGames__allGames
                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати
                .game
                    .game__top
                        img(src="img/cat.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/cat2.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/cat3.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати

                .game
                    .game__top
                        img(src="img/game-title.jpg" alt="Favbet")
                    .game__center
                        ul.game__center-name Crazy Monkey
                            li.game__center-info
                                .game__center-feature Кількість барабанів:
                                .game__center-value 5
                            li.game__center-info
                                .game__center-feature Максимальна ставка:
                                .game__center-value 25
                            li.game__center-info
                                .game__center-feature RTP
                                .game__center-value.imp-value 98%
                    .game__buttons
                        a(href="#").game__btn.game__btn-info Огляд
                        a(href="#").game__btn.game__btn-play Грати